[Ll]ibrary/ 
[Tt]emp/ 
[Oo]bj/ 
[Bb]uild/ 
[Bb]uilds/ 
[Ll]ogs/ 
MemoryCaptures/ 
"*.csproj" 
"*.unityproj" 
"*.sln" 
"*.suo" 
"*.tmp" 
"*.user" 
"*.userprefs" 
"*.pidb" 
"*.booproj" 
"*.svd" 
"*.pdb" 
"*.mdb" 
"*.opendb" 
"*.VC.db" 
"*.VC.VC.opendb" 
"*.sln.iml" 
".vscode/" 
".idea/" 
"sysinfo.txt" 
"*.stacktrace" 
"ExportedObj/" 
".consulo/" 
".DS_Store" 
"Thumbs.db" 
